.container-fluid.content-container.bg-grey
  .invitations
    %h2.text-center.mt-80 INVITATIONS
    %ul.list-group.mt-50
      - if @invitations.empty?
        %p.text-center You have no invitations to projects.
      - else
        - @invitations.each do |i|
          %li.list-group-item.row
            .col-md-10.mt-10
              You have been invited to contribute to project 
              %b= i.project.name
              by user
              %b= i.user.email
            .col-md-2.mt-10.text-right
              = link_to invitation_path(i), method: :post do
                %i.glyphicon.glyphicon-ok.mr-15
              = link_to invitation_path(i), method: :delete, data: { confirm: 'Are you sure you want to refuse invitation?' } do
                %i.glyphicon.glyphicon-remove.mr-15
          