.container-fluid.content-container.bg-grey
  .projects
    %h2.text-center.mt-80 PROJECTS YOU MANAGE
    %ul.list-group.mt-50
      - if @managed_projects.empty?
        %p.text-center You do not manage any projects.
      - else
        - @managed_projects.each do |p|
          %li.list-group-item.row
            .col-md-10
              %h4= link_to p.name, project_path(p)
            .col-md-2.mt-10.text-right
              %a{:href => "#"}
                %span.glyphicon.glyphicon-cog.mr-15
              %a{:href => "#"}
                %span.glyphicon.glyphicon-remove

    %h2.text-center.mt-80 PROJECTS YOU CONTRIBUTE TO
    %ul.list-group.mt-50
      - if @contributions.empty?
        %p.text-center You are not contributing to any projects.
      - else 
        - @contributions.each do |p|
          %li.list-group-item.row
            %h4= link_to p.name, project_path(p)
  .round-button
    .round-button-circle
      = link_to new_project_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do
        .round-button
          %span.glyphicon.glyphicon-plus
#modal-window.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
          