.container-fluid.content-container.bg-grey
  .project-header
    .row
      .col-md-6
        .project-title
          %h1= @project.name
      .col-md-6.text-right
        .project-actions
          .btn-group.btn-group-lg{"aria-label" => "...", :role => "group"}
            %a.btn.btn-default{:href => new_project_task_path(@project)} Add task
            - if @relation.association_type_vo == "manager"
              %a.btn.btn-default{:href => new_project_invitation_path(@project)} Add contributor
              %a.btn.btn-default{:href => edit_project_path(@project)} Edit
              %a.btn.btn-danger{:href => project_path(@project), method: :delete, data: { confirm: 'Are you sure you want to delete project?' }} Delete
  .project-content
    .row
      .col-md-4
        .panel.panel-default.text-center
          .panel-heading
            %h3 To do
          .panel-body.task-list
            %ul.list-group
              = render :partial => "tasks/task", :collection => @to_do, :as => :t
          .panel-footer
      .col-md-4
        .panel.panel-default.text-center
          .panel-heading
            %h3 In progress
          .panel-body.task-list
            %ul.list-group
              = render :partial => "tasks/task", :collection => @in_progress, :as => :t
          .panel-footer
      .col-md-4
        .panel.panel-default.text-center
          .panel-heading
            %h3 Done
          .panel-body.task-list
            %ul.list-group
              = render :partial => "tasks/task", :collection => @done, :as => :t
          .panel-footer