#sign-in-container
  position: fixed
  height: 100%
  width: 100%
  background: url(sign-in-background.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.sign-in-form 
  float: right
  width: 400px
  margin-right: 300px
  margin-top: 6%
  color: #fff
  font-family: 'Open Sans', sans-serif

.sign-in-form h1
  font-family: 'Lobster', cursive
  font-size: 5.3em
  text-align: center

.sign-in-form h3
  text-align: center
  font-weight: 100
  margin-bottom: 50px

.devise-button
  width: 400px !important
  margin-bottom: 50px !important